<div class="container">
    <div class="container mt5" style="width: 70%;">
        <div class="mt-5">
            <div class="pt-5" style="text-align: center;">
                <h4>Today's Appointment</h4>
                <div style="border: 4px solid rgb(63, 17, 170); border-radius: 4px;">
                    <div class="p-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>S.No</td>
                                    <td>Patient Slot</td>
                                    <td>Patient Disease</td>
                                    <td>View Patient</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>