.bg-img {
    min-height: 90vh;
    width: 100%;
    background: url('../../../assets/health.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}