<div class="bg-img">
    <div class="container" style="text-align: center;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>


        <h2 class="tw"></h2>

        <div>
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class=" btn-outline-primary mr-2 btn"> <img src="../../../assets/covide.png" width="35px" height="35px" alt=""> <br> Covide Section</button>
        </div>

    </div>
</div>