<div class="container" id="table">
    <br>
    <br>
    <div style="border: 4px solid rgb(3, 3, 75); border-radius: 6px; padding: 20px;">
        <div style="text-align: center;">
            <h2><b>{{Hospital.hospital_name}}</b></h2>
            <span>{{Hospital.address}}</span>
            <br>
            <small>{{Hospital.city}}</small>

        </div>
        <br>
        <table class="table ">
            <tbody>
                <tr>
                    <td><b>Patient Name </b></td>
                    <td>{{Patient.fname}}&nbsp;{{Patient.lname}}</td>
                    <td><b>Patient Email </b></td>
                    <td>{{Patient.username}}</td>
                </tr>
                <tr>
                    <td><b>DOB </b></td>
                    <td>{{Patient.birthdate}}</td>
                    <td><b>Contact </b></td>
                    <td>{{Patient.mobile}}</td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td>{{Patient.address}}&nbsp;{{Patient.pincode}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table table-bordered table-hover">
            <thead style="background-color: rgb(24, 87, 204);">
                <tr>
                    <th style="color: white;">Problem</th>
                </tr>
            </thead>
            <tbody style="background-color: rgb(223, 219, 219);">
                <tr>
                    <td>{{Appointment.problem}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h4>Description</h4>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Medicine</th>
                    <th>Quantity</th>
                    <th>Dose</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Description; let i=index ">
                    <td>{{i+1}}</td>
                    <td>{{item.medicine}}</td>
                    <td>{{item.qty}}</td>
                    <td>{{item.dose}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered" style="width: 50%;">
            <thead style="background-color: rgb(24, 87, 204);">
                <tr>
                    <td colspan="2" style="color: white;"><b> Doctor Info</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Doctor Name</b></td>
                    <td>{{Doctor.fname}}&nbsp;{{Doctor.lname}}</td>

                </tr>
                <tr>
                    <td><b>Department</b></td>
                    <td>
                        <span *ngFor="let item of Departments"> <span *ngIf="item.id==Doctor.depart_id">{{item.departName}}</span></span>

                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <small>This is Official generated by Health Care System</small>

    </div>

</div>
<div class="container">

    <br>
    <br>
    <button type="button" class="btn btn-larg btn-block btn-success" (click)="download()">Generate Pdf</button>
    <br>
    <br>

</div>